<form [formGroup]="form" (ngSubmit)="onSubmit()" class="main-form">
  <div class="form-group search-wrapper">
    <label for="food-name">Food Name</label>
    <input
      autocomplete="off"
      placeholder="Enter Food Name"
      formControlName="foodName"
      class="form-control"
      id="#food-name"
      type="text"
    />
    <!-- <div
      class="alert alert-danger"
      *ngIf="foodName.touched && foodName.invalid"
    >
      Food Name Required
    </div> -->
    <div class="alert alert-danger" *ngIf="isEmpty">
      Food Name is Required
    </div>
    <div class="alert alert-danger" *ngIf="isNotFound">
      Not Found
    </div>
  </div>
  <div class="buttons">
    <button class="btn btn-secondary" type="submit">Search</button>
    <button class="btn btn-warning" (click)="clearData()">Clear</button>
  </div>
</form>
<ul
  class="list-group"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
  <li
    *ngIf="filteredList.length"
    class="list-group-item filtered-list list-header"
  >
    <div>#</div>
    <div>Food Name</div>
    <div>Portion Size</div>
    <div>Calories</div>
  </li>
  <li
    *ngFor="let food of filteredList; index as i"
    class="list-group-item filtered-list"
  >
    <div>{{ i + 1 }}).</div>
    <div>{{ food.Display_Name }}</div>
    <div>{{ food.Portion_Display_Name }}</div>
    <div>{{ food.Calories }}</div>
  </li>
</ul>
