.filtered-list{
    display: grid;
    grid-template-columns: 0.5fr 4fr 4fr 1.5fr;
}

.list-header{
    background: #f2f2f2;
    margin-top: 2em;
}

.search-wrapper{
    width: 25em;
    margin-top: 2em;
}
.main-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}